
rakefile.rb
public/simplecolorpicker/jquery.simplecolorpicker.js
public/simplecolorpicker/jquery.simplecolorpicker.css
public/datetimepicker/jquery.datetimepicker.min.js
public/datetimepicker/jquery.datetimepicker.full.min.js
public/datetimepicker/jquery.datetimepicker.css
manifest.yml
config.ru
README.md
LICENSE
Gemfile
Gemfile.lock